:root{
	--primary-color: #4BB5BF;
	--secondary-color: #4E8A8F;
	--third-color: #18747C;
	--fourth-color: #79D6DF;
	--fifth-color: #94D9DF;
	--background-color: white;
}
.box-article{
	height: 300px;
	display: flex;
	width: 80%;
	margin: 0 auto;
	background-color: var(--fifth-color);
}
.box-article :hover{
	cursor: pointer;
	background: var(--secondary-color);
	color: var(--background-color);
}
.box-article-text{
	width: 40%;
	background-color: var(--background-color);
	padding: 30px;
	text-align: center;
}
.box-article-img{
	width: 60%;
	background-color: var(--fifth-color);
	text-align: center;
}
.box-article-text article{
	text-align: justify;
}
.box-article-img div img{
	height: 300px;
	width: 100%;
}
.box-article-img div iframe{
	height: 300px;
	width: 100%;
}
