:root{
	--primary-color: #4BB5BF;
	--secondary-color: #4E8A8F;
	--third-color: #18747C;
	--fourth-color: #79D6DF;
	--fifth-color: #94D9DF;
	--background-color: white;
}
.main{
    background-color: var(--secondary-color);
}
.hero-blog{
	border: var(--primary-color) none 1px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	width: 75%;
	margin: 0 auto;
    padding: 0 10px 0 10px;
    background-color: var(--background-color);
}
.hero-blog h4{
	font-size: 35px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}
.hero-blog p{
	padding-top: 10px;
	padding-bottom: 10px;
}
article li{
	list-style: none;
}
article ul li p span{
	font-size: 1.2em;
	font-weight: 700;
}
article ul li p{
	padding-left: 10px;
}
.mark-text{
	font-weight: 700;
	font-size: initial;
}