$color-header: #150485;
$color-header: #0f3057;
$color-two: #00587a;
$color-three: #008891;
$color-ultimo: #e7e7de;
$background-img: #01222f;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
